* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #F6F0EB;
    font-family: 'poppins', sans-serif;

}
.main-content {
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
    padding: 0 24px;
}

header {
    background-color: #FFFFFF;
    padding: 24px 32px;
    min-height: 100px;

}
.header-content {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-bar {
    display: flex;
    /* gap: 60px; */
}

.nav-bar a {
    text-decoration-line: none;
    color: #492118;
    font-weight: 700;
    font-size: 20px;
}
.nav-bar a + a {
    margin-left: 60px;

} 

.logo {
    width: 60px;
    height: 70px;
}

img {
    width: 100%;
}

main {
    padding: 0 24px;
    
}
.hero-section {
    margin-top: 100px;
}

.hero-section p {
    color: #492118;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.section {
    margin-top: 120px;
}
.image-container {
    max-width: 1290px;
    margin: 0 auto;
}

.section .image-container {
    max-width: 900px;
}

.section p {
    color: #492118;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.go-to-top {
    text-align: right;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 80px;
}
.go-to-top a{
    color: #492118;
    font-weight: 700;
    font-size: 32px;
}

.footer-text {
    text-align: center;
    color: #858585;
    margin-top: 32px;
    font-weight: 500;
    font-size: 24px;
}

.close-icon {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    display: none;
}
.hamburger-menu-container {
    overflow: hidden;
    position: relative;
    height: 81px;
    width: 81px;
    display: none;
}
.hamburger-menu {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: -147px;
    right: -60px;
    left: 0;
}
.hamburger-icon {
    font-size: 24px;
    color: #492118;
    position: absolute;
    bottom: 17px;
    left: 47px;
    cursor: pointer;
}

@media (max-width: 855px) {
    .nav-bar a {
        font-size: 16px;
    }
    .nav-bar a + a{
        margin-left: 32px;
    }
    header {
        padding: 8px 14px;
    }
    main {
        padding: 0 14px;
    }
    .hero-section{
        margin-top: 32px;
    }
    .section {
        margin-top: 42px;
    }
    .hero-section p{
        font-size: 10px;
    }
    .section p{
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    header {
        background-color: rgba(246, 240, 235, 0.9);
        /* backdrop-filter: blur(4px); */
        position: sticky;
        top: 0;
        padding: 8px 24px;
    }
    .nav-bar {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        flex-direction: column;
        right: -200px;
        top: 8px;
        padding: 16px 24px;
        transition: right 0.3s ease-in-out;
        /* display: none; */
        
    }
    
    .nav-bar a + a{
        margin: 0;
        margin-top: 16px;
    }
    .nav-bar a { 
        font-size: 12px;
    }
    .close-icon, .hamburger-menu-container  {
        display: block;
    }
    .menu-open nav{
        /* display: flex; */
        right: 14px;
    }
    .menu-open .hamburger-menu-container{
        display: none;
    }
    .header-content {
        min-height: 70px;
    }
    .go-to-top {
        margin-top: 20px;
    }
    .go-to-top a{
        font-size: 12px;

    }
    .footer-text {
        font-size: 10px;
        margin-top: 16px;
        padding: 14px;
    }
    .logo {
        width: 40px;
    }
}